*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
}

body{
    height: 100vh;
    width: 100%;
    background: var(--color-fondo);
    transition:  background 0.3s ease;
}
#software{
    background-color: var(--color-menu-hover);
    color: var(--color-texto);
    transition: background-color .3s ease;
}
li .list-group-item{
    background: var(--color-barra-lateral);
    color: var(--color-texto);
}
div .modal-header{
    background: var(--color-barra-lateral);
}
div .modal-body{
    background: var(--color-barra-lateral);
}
select{
    
}
button .btn-close{
    background: var(--color-texto-menu);
}
td{
    color: red;
}
th{
    color: var(--color-texto);
}
h1{
    color: var(--color-texto);
}
h5{
    color: var(--color-texto);
}

label{
    color: var(--color-texto);
}
span{
    color: var(--color-texto);
}
span .nav-item{
    color: var(--color-texto-menu);
}


