@media print {
    body {
        font-size: 12px;
        margin: 20px; /* Márgenes en todos los lados */
        color: #333; /* Color de fuente */
    }

    .hoja-descarte {
        margin-top: 20px;
        position: relative; /* Asegura que los elementos dentro de hoja-descarte utilicen position: absolute */
    }

    .hoja-descarte h1 {
        text-align: center;
        margin-top: 0; /* Elimina el margen superior para el título */
        font-size: 24px; /* Tamaño de fuente del título */
        font-weight: bold; /* Texto en negrita */
        text-transform: uppercase; /* Texto en mayúsculas */
        margin-bottom: 20px; /* Espacio después del título */
    }

    .logo {
        position: absolute;
        top: 20px;
        right: 20px;
        max-width: 150px;
    }

    .registro {
        display: flex;
        justify-content: space-between; /* Coloca el título a la derecha y el contenido a la izquierda */
        margin-bottom: 10px; /* Espacio entre cada registro */
    }

    /* Estilos para el título del registro */
    .titulo-registro {
        font-size: 16px; /* Tamaño de fuente del título del registro */
        font-weight: bold; /* Texto en negrita */
    }

    /* Estilos para el contenido del registro */
    .contenido-registro {
        font-size: 16px; /* Tamaño de fuente del contenido del registro */
    }
}